.buyerInput {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adds space between each label/input pair */
}

table,tr,td{
    border: 1px solid;
    border-collapse: collapse;
    margin-top: 20px;
}

.paymentMethod{
    display: flex;
    flex-direction: column;
}

.buttons{
    margin-top: 20px;
}